In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import  matplotlib.pyplot as plt

In [29]:

df = pd.read_csv('payment_fraud.csv')

In [13]:
df.head(2)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0

In [5]:
df.isnull().sum()

accountAgeDays          0
numItems                0
localTime               0
paymentMethod           0
paymentMethodAgeDays    0
label                   0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39221 entries, 0 to 39220
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accountAgeDays        39221 non-null  int64
 1   numItems              39221 non-null  int64
 2   localTime             39221 non-null  float64
 3   paymentMethod         39221 non-null  int32
 4   paymentMethodAgeDays  39221 non-null  float64
 5   label                 39221 non-null  int64
dtypes: float64(2), int32(1), int64(3)
memory usage: 1.6 MB

In [14]:
from sklearn.preprocessing import LabelEncoder

In [17]:
paymentMethod_le=LabelEncoder() 
df["paymentMethod"]=paymentMethod_le.fit_transform(df["paymentMethod"])

In [18]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,1,28.204861,0
1,725,1,4.742303,2,0.000000,0
2,845,1,4.921318,0,0.000000,0
3,503,1,4.886641,0,0.000000,0
4,2000,1,5.040929,0,0.000000,0

In [62]:
x=df.iloc[:,:-1]
y=df["label"]

In [64]:
from sklearn.preprocessing import LabelEncoder
paymentMethod_le=LabelEncoder() 
df["paymentMethod"]=paymentMethod_le.fit_transform(df["paymentMethod"])

In [34]:
x

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays
0,-1.029556,-0.1495,-0.007268,1.175361,-0.333032
1,-0.164721,-0.1495,-0.015227,2.942278,-0.432497
2,-0.015612,-0.1495,0.444546,-0.591555,-0.432497
3,-0.440574,-0.1495,0.355484,-0.591555,-0.432497
4,1.419567,-0.1495,0.751749,-0.591555,-0.432497
...,...,...,...,...,...
39216,0.159592,-0.1495,0.227942,-0.591555,-0.432497
39217,0.980936,-0.1495,0.330134,-0.591555,0.900283
39218,0.911352,-0.1495,-0.015227,-0.591555,-0.432497
39219,-0.771100,-0.1495,0.444546,-0.591555,0.400053
39220,-0.727609,-0.1495,0.751749,1.175361,-0.432495

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train , y_train , x_test , y_test = train_test_split (x,y , test_size=0.2, random_state=42)

In [38]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

In [46]:
print(x_train.shape)
print(y_train.shape)

(31376, 5)
(7845, 5)

In [47]:
print(x.index.equals(y.index))  # This should return True

True

In [49]:
y = y.reindex(x.index)

In [50]:
print(x.isnull().sum())
print(y.isnull().sum())

accountAgeDays          0
numItems                0
localTime               0
paymentMethod           0
paymentMethodAgeDays    0
dtype: int64
0

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Split data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Verify consistent shapes
print(x_train.shape, y_train.shape)

# Train the model
lr = LinearRegression()
lr.fit(x_train, y_train)

# Evaluate
train_score = lr.score(x_train, y_train) * 100
test_score = lr.score(x_test, y_test) * 100

(31376, 5) (31376,)

In [53]:
lr=LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_train , y_train)*100 , lr.score(x_test,y_test)*100

(2.0946622065195597, 2.2405172578594312)

In [65]:
dt= DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt.score(x_train , y_train)*100 , dt.score(x_test,y_test)*100

(100.0, 100.0)